@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<DynamicComponent Type="componentType" Parameters="parameters" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private Type componentType = typeof(SurveyPrompt);

    private Dictionary<string, object> parameters = new()
    {
        { "Title", "Welcome to Blazor" }
    };

}
