@inherits LayoutComponentBase

<NavBar />

<main class="px-5 py-4">
	<ErrorBoundary @ref="_errorBoundary">
		<ChildContent>
			@Body
		</ChildContent>
		<ErrorContent>
			<h3>Counter must not exceed the value 5</h3>
			<button class="btn btn-primary" @onclick="() => _errorBoundary.Recover()">Reload</button>
		</ErrorContent>
	</ErrorBoundary>
	
</main>

@code
{
	private ErrorBoundary _errorBoundary; 

}