@typeparam ItemType
@inject IJSRuntime JSRuntime
@implements IDisposable

<div class="grid-container">
	@if (Items != null && Items.Any())
	{
		foreach (var item in Items)
		{
			<div class="grid-item" style="width:@_columnWidth" @onclick="() => OnItemClicked.InvokeAsync(item)">
				@ItemTemplate(item)
			</div>
		}
	}
	else
	{
		<!-- Here can be used to show how the empty list will be handeled -->
		<h3 class="empty-collection-title">No items available</h3>
	}
</div>

@code
{

	[Parameter]
	public List<ItemType>? Items { get; set; }
	[Parameter]
	public RenderFragment<ItemType> ItemTemplate { get; set; }
	[Parameter]
	public EventCallback<ItemType> OnItemClicked { get; set; }
	[Parameter]
	public int ColumnsCount { get; set; } = 4;

	private int _columnWidth => 100 / ColumnsCount; 

	private DotNetObjectReference<DataListView<ItemType>>? _dotNetObjectReference;

	protected async override Task OnInitializedAsync()
	{
		_dotNetObjectReference = DotNetObjectReference.Create(this);
		// Call the triggerOnWindowResized JS method
		await JSRuntime.InvokeVoidAsync("triggerOnWindowResized", _dotNetObjectReference);
	}

	public void Dispose()
	{
		_dotNetObjectReference.Dispose();
	}
	

	[JSInvokable]
	public void OnWindowResized(int width, int height)
	{
		Console.WriteLine($"New width {width} and the new height {height}");
	}
}